@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

/*         FONTS        */
/*headings*/
h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

/*paragraphs*/
figcaption,
a,
footer {
  font-family: 'Cabin', sans-serif;
}

/*header*/
.header {
  text-align: center;

  padding: 0.5rem;
  margin: 0;
}

header {
  background: #17223b;
  color: #FFF;
}

/*footer*/
footer {
  background: #17223b;
  color: #FFF;

  margin: 0;
  padding: 0.7rem;

  text-align: center;
}

body{
  background-color: #263859;
}

/*using Grid*/
main {
  display:grid;
  justify-items: center;
}

figure {
  display: grid;

  justify-content:center;

  gap:10px;

  max-width: 1200px;

  border-radius: 2rem;
  border: 2px solid #6b778d;

  padding: 1rem;

  grid-template-columns: auto auto 200px 200px;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "image image title link"
  "image image description description"
  ;
}

/* Naming Grid Areas */
img {
  grid-area: image;

  object-fit: cover;

  width: 46rem;
  height: 27rem;
  max-width: 100%;

  border: 2px solid #6b778d;
  border-radius:2rem;
}

h2 {
  grid-area: title;

  place-self: center;

  padding:2rem;
  margin:0;

  border: 2px solid #6b778d;
  border-radius:1rem;

  color: #FFF;
}

a {
  grid-area: link;

  place-self: center;

  padding: 1.9rem;
  margin:0;

  border: 2px solid #6b778d;
  border-radius:1rem;

  color: #FFF;
}

figcaption {
  grid-area: description;

  place-self: center;

  margin:0;
  padding: 2rem;

  border: 2px solid #6b778d;
  border-radius:1rem;

  color: #FFF;
}

