@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');
body {
  margin:0;
}
/*heading*/
h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}
/*paragraph*/
figcaption, footer {
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
}

figure {
  display: grid;
}

img {
  justify-self: center;

  padding-top: 1rem;
}

header {
  background: #000;
  color: #FFF;

  margin: 0;
  padding: 0'
}