@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

/*         FONTS        */
/*headings*/
h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

/*paragraphs*/
figcaption,
footer {
  font-family: 'Cabin', sans-serif;
}

/*header*/
.header {
  text-align: center;

  padding: 0.5rem;
  margin: 0;
}

header {
  background: #000;
  color: #FFF;
}

/*footer*/
footer {
  background: #000;
  color: #FFF;

  margin: 0;
  padding: 0.7rem;

  text-align: center;
}

/***********/
/*Main Grid Area*/
/**********/
main {
  display: grid;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "title image";
}

.width-height-image {
  grid-area: image;
}

header {
  grid-area: header;
}

/***********/
/*Left Section Grid Area*/
/**********/

.title-credit-desc {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);

  gap: 1rem;

  justify-content: center;
}

.title,
.description,
.credit {
  place-self: center;
}

.description {
  margin-bottom: rem;
}