@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

/*         FONTS        */
/*headings*/
h1,
h2,
h3,
.aside {
  font-family: 'Roboto Condensed', sans-serif;
}

/*paragraphs*/
.description,
footer {
  font-family: 'Cabin', sans-serif;
}

/*header*/
.header {
  text-align: center;

  padding: 0.5rem;
  margin: 0;
}

header {
  background: #000;
  color: #FFF;
}

/*footer*/
footer {
  background: #000;
  color: #FFF;

  margin: 0;
  padding: 0.7rem;

  text-align: center;
}

/*grid*/
main {
  display:grid;
  grid-template-columns: auto;
}

section {
  display: grid;

  grid-template-areas: 
  "image image height title credit"
  "image image height link description"
  "width width . . .";
}

.image {
  grid-area: image;
}

.title {
  grid-area: title;
}

.height {
  grid-area: height;
}

.width {
  grid-area: width;
}

.credit {
  grid-area: credit;
}

.link {
  grid-area: link;
}

.description {
  grid-area: description;
}

